* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: #ff0000;
    --size: 16px;
}

html {
    font-size: var(--size);
    color: var(--color);
}

body {
    background-image: url('img/bathroom400.jpg');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Logo majster */
.top {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background: rgba(0, 0, 0, .7);
}

.top h1 {
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 10vh;
    text-align: center;
    /* padding: 10px; */
    letter-spacing: .6rem;
    font-family: oswald, sans-serif;
}

.main {
    position: relative;
    margin: 1vh;
    padding: 1vh;
    width: calc(100% - 2vh);
    height: calc(90vh - 2vh);
    background-color: rgba(32, 32, 32, 0.8);
    clip-path: polygon(0 0, 100% 0, 100% 15%, 85% calc(100% / 2), 100% 85%, 100% 100%, 0 100%, 0 85%, 15% calc(100% / 2), 0 15%, 0 0);
}

h2 {
    text-align: center;
    color: rgb(255, 145, 0);
    font-family: oswald, serif;
    font-size: 1.9rem;
    letter-spacing: 2px;
}

ul {
    margin-top: 1vh;
    text-align: center;
}

li {
    list-style: none;
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: rgb(255, 230, 0);
    font-family: lato, serif;
    letter-spacing: 2px;
}

.about {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}