* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: #ff0000;
    --size: 16px;
}

html {
    font-size: var(--size);
    color: var(--color);
}

body {
    background-color: rgb(100, 100, 100);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Logo majster */
.top {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background: rgba(0, 0, 0, .7);
    line-height: 10vh;
}

.top h1 {
    text-transform: uppercase;
    font-size: 2.2rem;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
    text-align: center;
    /* padding: 10px; */
    letter-spacing: .6rem;
    font-family: oswald, sans-serif;
}

.main {
    position: relative;
    margin: 2vmin;
    padding: 2vmin;
    width: calc(100% - 4vmin);
    height: calc(90vh - 4vmin);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

h2 {
    text-align: center;
    color: rgb(255, 145, 0);
    font-family: oswald, serif;
    font-size: 2.3rem;
    letter-spacing: 2px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
    margin: 15px 0;
}

ul {
    margin-top: 1vh;
    text-align: center;
}

li {
    list-style: none;
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: rgb(255, 230, 0);
    font-family: lato, serif;
    letter-spacing: 2px;
}

p.about {
    /* position: absolute;
    left: 0;
    bottom: 0; */
    width: 100%;
    text-align: justify;
    padding: 2vmin;
    text-shadow: 0 0 2px #000;
}

p {
    width: 70%;
    color: #fff;
    font-family: lato;
    margin: 0 auto;
    text-align: center;
}

.highlight {
    font-weight: 700;
    color: #000;
    text-shadow: 0 0 2px #ff0000;
}

@media(max-width:360px) and (orientation: portrait) {
    body {
        background-image: url('img/lazienka_400_640.jpg');
    }

}

@media(max-height:360px) and (orientation: landscape) {
    body {
        background-image: url('img/tiler.jpg');
        background-position: bottom center;
    }

    .top {
        height: 17vh;
        line-height: 17vh;
    }

    .main {
        height: calc(100vh - 19vh);
    }

    h2 {
        margin: 0;
        font-size: 1.8rem;
    }

    p {
        font-size: .8rem;
    }

}